.effectBox{

    /*height: 2.3rem;*/
    margin: 0 0.66rem;
}

.leftSide,.rightSide{
    float:left;
    width: 50%;
    height:2.10rem;
    /*background-color: aquamarine;*/
    position: relative;
}

.effectBox:after{
    content:"";/*设置内容为空*/
    height:0;/*高度为0*/
    line-height:0;/*行高为0*/
    display:block;/*将文本转为块级元素*/
    visibility:hidden;/*将元素隐藏*/
    clear:both;/*清除浮动*/
}

.effectBox .leftBox{
    /*display: inline-block;*/
    float: left;
    margin-left: 0.50rem;
    width: 1.50rem;
    height: 2.10rem;
    position: relative;
}

.left1>.leftBox{
    background: url("img/left1_before.png") 0 0  no-repeat ;
    background-size: cover;
}

.left2>.leftBox{
    background: url("img/left2_before.jpg") 0 0  no-repeat ;
    background-size: cover;
}

.right1>.rightBox{
    background: url("img/right1_before.jpg") 0 0  no-repeat ;
    background-size: cover;
}

.right2>.rightBox{
    background: url("img/right2_before.jpg") 0 0  no-repeat ;
    background-size: cover;
}

.leftText{
    margin:0 0 0 0.15rem;
    float: left;
    font-size: 0.16rem;
    line-height: 0.21rem;
    width: 0.16rem;
    color: #f8f8f9;
}

.leftSmallText{
    margin:0 0 0 0.10rem;
    float: left;
    font-size: 0.10rem;
    line-height: 0.15rem;
    width: 0.08rem;
    color: #f8f8f9;
}

.leftIndexLine{
    position: absolute;
    /*background-color: chartreuse;*/
    bottom: 0rem;
    right:0.25rem;
    width: 0.20rem;
    height: 0.30rem;
    font-size: 0;
}

.leftIndexLine a{
    display: inline-block;
    width: 0.20rem;
    height:0.15rem;
    font-size: 0.08rem;
    color: #f8f8f9;
    /*background-color: #f8f8f9;*/
    text-align: center;
    cursor: pointer;
}

.rightIndexLine{
    position: absolute;
    /*background-color: chartreuse;*/
    bottom: 0.10rem;
    margin-left:2.10rem;
    width: 0.30rem;
    height: 0.20rem;
    font-size: 0;
}

.rightIndexLine a{
    /*background-color: #de97ff;*/
    display: inline-block;
    width: 0.15rem;
    height:0.15rem;
    font-size: 0.08rem;
    color: #f8f8f9;
    /*background-color: #f8f8f9;*/
    text-align: center;
    cursor: pointer;
}

.chosen{
    color: rgba(60,222,223,0.64) !important;
}

.hide{
    width: 0 !important;
}

.leftBtn{
    position: absolute;
    bottom: 0.05rem;
    right: 0.02rem;
    width: 0.30rem;
    height: 0.15rem;
    background-color: rgba(223,223,223,0.62);
    border-radius: 0.03rem;
    font-size: 0.10rem;
    text-align: center;
    cursor: pointer;
}

.rightBtn{
    position: absolute;
    bottom: 0.05rem;
    right: 0.02rem;
    width: 0.30rem;
    height: 0.15rem;
    background-color: rgba(223,223,223,0.62);
    border-radius: 0.03rem;
    font-size: 0.10rem;
    text-align: center;
    cursor: pointer;
}
/*.leftBtn{*/
/*    */
/*}*/

.rightText{
    /*position: absolute;*/
    /*float:right;*/
    margin-top:0.05rem;
    margin-left: 0rem;
    width: 1.70rem;
    font-size: 0.16rem;
    letter-spacing: 0.05rem;
    color: #f8f8f9;
    /*text-align: center;*/
    /*clear-after: right;*/
}

.rightSmallText{
    margin-top: 0.03rem;
    margin-left: 0rem;
    width: 1.70rem;
    font-size: 0.10rem;
    letter-spacing: 0.05rem;
    color: #f8f8f9;
}

.effectBox .rightBox{
    background-color: darkseagreen;
    /*float: right;*/
    position: relative;
    margin-top:0.05rem;
    margin-left: 0rem;
    width: 2.10rem;
    height:1.50rem;
    overflow: hidden;
}

.right1,.right2{
    margin-left: 0.30rem;
}
