.smallBoxCont{
    width: 100%;
    overflow: hidden;
}

.smallPicBox{
    margin: 0 9.5%;
    font-size: 0;
}

.smallPicBox:after{
    content: "";
    height: 0;
    display: block;
    clear:both;
}

.smallPic1,.smallPic3{
    position: relative;
    display: inline-block;
    float: left;
    margin: 0;
    width: 31.3%;
    /*padding: 0 3%;*/
    /*box-sizing: border-box;*/
}

.smallPic2{
    position: relative;
    float: left;
    display: inline-block;
    margin: 0 3%;
    width: 31.3%;

}
