.topbar{
    /*background-color: #0b0a08;*/
    position: fixed;
    opacity: 0.8;
    height: 0.25rem;
    padding-top: 0.05rem;
    width: 100%;
    /*position: absolute;*/
    top: 0;
    z-index: 1;
    /*width: 100%;*/
}

.topbar .left{
    width: 20%;
    height: 0.25rem;
    float: left;

}

.topbar .left img{
    position: relative;
    float: right;
    height: 0.12rem;
    top: 0.06rem;

}

.topbar .left div{
    float: right;
    margin-left: 0.10rem;
    font-size: 0.15rem;
    margin-top:0.02rem;
    line-height: 0.20rem;
    color: #f8f8f9;
    font-family: Lucida Family !important;
}
.middle{
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding: 0.05rem 10%;
    height: 0.25rem;
    /*background-color: #de97ff;*/
    font-size: 0;

    line-height: 0.15rem;
}

.middle li{
    display: inline-block;
    list-style: none;
    width: 20%;
    text-align: center;
}



.middle li a{
    text-decoration: none;
    font-size: 0.08rem;
    color: #f8f8f9;
}

.right{
    float: left;
    width: 20%;
    height: 0.25rem;
}